* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--main-text-color);
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
}
img {
  overflow: hidden;
}